<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883072012214-37qn1b89obkk2tk26ht3fl1sevmnl7i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883072012214-37qn1b89obkk2tk26ht3fl1sevmnl7i4</string>
	<key>API_KEY</key>
	<string>AIzaSyBKePtq7efR1_3tz_pxmyqA742sTY2E_oI</string>
	<key>GCM_SENDER_ID</key>
	<string>883072012214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pokenov.ynov</string>
	<key>PROJECT_ID</key>
	<string>pokenov-77171</string>
	<key>STORAGE_BUCKET</key>
	<string>pokenov-77171.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883072012214:ios:4cbbb93eb4b700fc053b17</string>
	<key>DATABASE_URL</key>
	<string>https://pokenov-77171-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>